<%- include ("partials/header.ejs") %>
    <!-- Content -->
    <section id="content">
      <div class="container py-3 px-2">
        <h1>Books and Thoughts 📚</h1>
        <hr>
        <% data.forEach((item) => { %>
        <!-- Place Inside For Loop -->
        <h2><%- item.title %></h2>
        <img style="margin-bottom: 20px;" src="<%- item.cover %>">
        <p>Recommendation Score: <%- item.score %>/10 - Completed on <%- item.date %></p>
        <p><%- item.summary %></p>
        <p><a href="/editentry/<%- item.id %>">Edit/Delete</a></p>
        <hr>
        <!-- Place Inside For Loop -->
        <% }) %>

      </div>
    </section>
    <!-- Footer -->
    <section id="Footer">
      <div class="container">
        <footer
          class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
        >
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary"
              >© <%= new Date().getFullYear() %> Brian's Book Notes</span
            >
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
